<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="shares">
      <h2 data-cy="sharesDetailsHeading"><span>Shares</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>Id</span></dt>
        <dd>
          <span>{{ shares.id }}</span>
        </dd>
        <dt><span>Num Shares</span></dt>
        <dd>
          <span>{{ shares.numShares }}</span>
        </dd>
        <dt><span>Share Price</span></dt>
        <dd>
          <span>{{ shares.sharePrice }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/shares', shares.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
