<div>
  <h2 id="page-heading" data-cy="SharesHeading">
    <span>Shares</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-shares"
        [routerLink]="['/shares/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Shares </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="shares?.length === 0">
    <span>No shares found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="shares && shares.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>Id</span></th>
          <th scope="col"><span>Num Shares</span></th>
          <th scope="col"><span>Share Price</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let shares of shares; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/shares', shares.id, 'view']">{{ shares.id }}</a>
          </td>
          <td>{{ shares.numShares }}</td>
          <td>{{ shares.sharePrice }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/shares', shares.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button type="submit" [routerLink]="['/shares', shares.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(shares)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
